body {
	background: white;
	font-size: 16px;
}

h1 {
	font-size: 6em;
	text-align: center;
	font-family:  ITC Avant Garde Gothic Std;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #CDCDB4
}

h2 {
	font-size: 2em;
	font-family: ITC Avant Garde Gothic Std;
	color: grey;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: right;
	margin-top: 10px;
	margin-right: 200px;
	margin-bottom: 30px;
}

a {
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	font-family: ITC Avant Garde Gothic Std;
	font-weight: lighter;
	text-align: center;
}

li.links {
	display: block;
	margin-left: 120px;
	margin-right: 170px;
	padding: 30px 30px 30px 30px;
	background-color: #3D3D29;
}

li.links a:hover {
	opacity: 0.5;
}
   

